<%= render 'shared/error_messages', object: @user %>

<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>

<%= f.label :email %>
<%= f.email_field :email, class: 'form-control' %>

<%= f.label :department_id %>
<%= f.select(:department_id, Department.activate.map{|u| [u.name, u.id]},
             {}, {class: 'form-control'}) %>

<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, class: 'form-control' %>

<% if admin_user?(current_user) %>
    <label class="checkbox-inline">
      <%= f.check_box :admin, {class: 'checkbox'}, false, true %>
      <%= f.label :admin %>
    </label>
<% end %>

<%= f.submit class: "btn btn-primary" %>
