<% provide(:title, t('title.users')) %>
<h1><%= t('title.users') %></h1>

<%= paginate @users %>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t('activerecord.models.user') %></th>
        <th><%= t('activerecord.attributes.department.department_name') %></th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.department.department_name %></td>
      </tr>
    <% end %>
  </table>
  <% if admin_user?(current_user) %>
    <%= link_to t('title.new'), new_user_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
<%= paginate @users %>